@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.container_guests{
    background-color: azure;
    width: 90%;
    margin: auto;
    height: 100vh;
}